<a href="https://colab.research.google.com/github/dohyun6812/NLP_PictureBook_2025/blob/main/3_indexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 📌 Indexing of Sequence Data

| str data | I |   | l | o | v | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|

In [ ]:
str = 'Micky 17'

print(str[0])
print(str[1])
print(str[2])
print(str[3])
print(str[4])
print(str[5])
print(str[6])
print(str[7])

M
i
c
k
y

1
7

In [ ]:
str = 'Micky 17'

print(str[-1])
print(str[-2])
print(str[-3])
print(str[-4])
print(str[-5])
print(str[-6])
print(str[-7])
print(str[-8])

7
1

y
k
c
i
M

In [ ]:
strdata = 'Excellent!'

print(strdata[0])
print(strdata[1])
print(strdata[-1])

E
x
!

In [ ]:
listdata = [1, 2, [3,4,5]]
print(listdata[0])
print(listdata[-1])
print(listdata[2][-1])

1
[3, 4, 5]
5

In [ ]:
#@markdown 🚗 🚙 Sequence data (str, list, tuple)

#@markdown ##Exercise

list_data = ['apple', 'banana', 'grape', 'mango']
tuple_data = ('apple', 'banana', 'grape', 'mango')

print (list_data)
print(tuple_data)

['apple', 'banana', 'grape', 'mango']
('apple', 'banana', 'grape', 'mango')

In [ ]:
#@markdown 📌 Apply indices to List data

#@markdown ## Replacment by means of using indices

list_data = ['apple', 'banana', 'grape', 'mango']
list_data[0] = 'shine musket'

print (list_data)

['shine musket', 'banana', 'grape', 'mango']

In [ ]:
#@markdown 👀 Apply indices to Tupple data

#@markdown ### No Replacement for Tuple data (<font color = 'red'> TypeError</font> will pop up: <font color = 'red'>'tuple' object does not support item assignment)

tuple_data = ('apple', 'banana', 'grape', 'mango')
tuple_data[0] = 'shine musket'

print (tuple_data)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#@markdown Slice sequence data

str_data = 'abcdefghijklmnopqrstuvwxyz!'
print(str_data[1:5])
print(str_data[:7])
print(str_data[9:])
print(str_data[:-3])
print(str_data[-3:])
print(str_data[:])
print(str_data[::2]) # 처음부터 끝까지 스텝을 2로 해서 슬라이싱 하기.

bcde
abcdefg
jklmnopqrstuvwxyz!
abcdefghijklmnopqrstuvwx
yz!
abcdefghijklmnopqrstuvwxyz!
acegikmoqsuwy!

#시퀀스 자료 연결하기 (+)
  -자료형이 동일한 두 개의 시퀀스 자료는 연결 가능
  

#시퀀스 자료 반복하기 (*숫자)

In [ ]:
strdata1 = 'I love'; strdata2='Python'
print (strdata1 + strdata2)
print(strdata1*5)

I lovePython
I loveI loveI loveI loveI love

###  👀 🐾 **Make a wild guess how to <font color = 'red'> add space</font> between 'love' and 'Python.'**

In [ ]:
#@markdown 💊 **Possibility 1️⃣ 💡**

strdata1 = 'I love '; strdata2='Python'
print (strdata1 + strdata2)

I love Python

In [ ]:
#@markdown 💊 **Possibility 2️⃣ 💡**

strdata1 = 'I love '; strdata2=' Python'
print (strdata1 + strdata2)

I love  Python

In [ ]:
#@markdown 💊 **Possibility 3️⃣ 💡**

strdata1 = 'I love'; strdata0 = ' '; strdata2='Python'
print (strdata1 + strdata0 + strdata2)

I love Python

In [ ]:
subject = 'BTS'; verb= 'sings'; object = 'Butter'
sentence = subject + verb + object * 5
print(sentence)

BTSsingsButterButterButterButterButter

In [ ]:
#@markdown 💊 Possibility 1️⃣ 💡

subject = 'BTS'; verb= 'sings'; object = 'Butter'; space = ' '
sentence = subject + space + verb + space + object * 5
print(sentence)

BTS sings ButterButterButterButterButter

In [ ]:
#@markdown 시퀀스 자료 크기 이해하기 (len)

str_data = 'abcdefghijklmnopqrstuvwxyz'
print(len(str_data))

26